[Desktop Entry]
Type=Application
Name=Mattermost
Comment=mattermost.numlabs.com
Exec=brave --app=https://mattermost.numlabs.com --class=mattermost
Icon=@HOME@/.local/share/icons/hicolor/512x512/apps/mattermost.png
Terminal=false
StartupNotify=true
StartupWMClass=mattermost
Categories=Network;Chat;
